.header {
  min-height: 115px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  &__title {
    margin-left: auto;
  }
  &__menu {
    margin-left: 131px;
    margin-right: 173px;
  }
}
