.slider {
  margin: 0 auto;
  overflow: hidden;
  &__wrapper {
    display: flex;
    transition: 1s all;
    overflow: hidden;
  }
  &__wrapper--size--s {
    gap: 0 20px;
  }
  &__img {
    max-width: 100%;
  }
}
