.title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-transform: uppercase;
  &--size--s {
    font-size: 14px;
  }
  &--size--m {
    font-size: 32px;
    line-height: 1.3;
  }
  &--size--xl {
    font-size: 70px;
    line-height: 1.3;
  }
}
